<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.delhivery.axle">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:name=".KotlinApp"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/CustomSplashScreenTheme"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">
        <activity
            android:name=".ui.fastag.issuance.BuyFasTagActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.fastag.issuance.SelectFasTagActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.fastag.issuance.AddVehicleActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.fastag.issuance.FastagKycActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.fastag.issuance.PaymentMethodActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.fastag.issuance.PaymentBreakupActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.fastag.issuance.FastagCollectionActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.serviceConfigListing.ServiceConfigurationListActivity"
            android:exported="false" />

        <service
            android:name=".fcm.DelhiveryFCMService"
            android:exported="false"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.workmanager-init"
            android:exported="false"
            tools:node="remove"
            tools:replace="android:authorities" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="@bool/FIREBASE_ACTIVATED" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="@bool/FIREBASE_ACTIVATED" />
        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="@bool/FIREBASE_PERFORMANCE_LOG" />
        <meta-data
            android:name="firebase_performance_collection_enabled"
            android:value="@bool/FIREBASE_ACTIVATED" />

        <activity
            android:name=".ui.home.activity.home.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.splash.StartRoutingActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="axledelhivery.page.link"
                    android:scheme="http" />
                <data
                    android:host="axledelhivery.page.link"
                    android:scheme="https" />
                <data
                    android:host="dlvry.page.link"
                    android:scheme="https" />
                <data
                    android:host="dlvry.page.link"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.auth.AuthenticationActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.selectroutewelcome.SelectRouteWelcomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.selectroute.activity.SelectRouteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.onboarding.OnboardingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.bids.BidsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.biddetails.BidDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.biddetails.PlacementsBidDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.biddetails.MarketPlaceBidDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.searchload.SearchLoadActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ui.bids.TripsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.tripdetails.TripDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.tripdetails.ImageViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.activity.transactionlist.TransactionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.activity.transactiondetail.TransactionDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.activity.fuel.ActiveTripsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.activity.bank.BankTransferActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.activity.fuelcard.CreateFuelCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.activity.wallet.WalletOnboardingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.tripdetails.UploadImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.activity.docket.DocketUpdateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.searchtrip.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ledger.ConsolidatedPageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.team.TeamMembersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.userroutes.UserRoutesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.searchongoingtrip.SearchOngoingTripActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.trucks.TruckActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.searchCity.SearchCity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.auth.InvalidActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.trucks.AddTruckPathwayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profile.HelpSupportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profile.profiledetails.ProfileDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profile.kycdetails.ProfileKYCDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profile.BankDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.kyc.dashboard.KycDashboardActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".ui.kyc.pan.PanVerificationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.kyc.gst.GstVerificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.kyc.aadhaar.AadhaarVerificationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.kyc.address.CommunicationAddressActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.profile.MyProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.accountrole.AccountRoleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.accountdetails.AccountDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.accountaction.AccountActionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.kyc.address.AddressActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.businessverification.BusinessVerificationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.kyc.identityverification.IdentityVerificationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.onboarding.BasicDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.searchcitystate.SearchCityStateActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.searchcitystate.SearchOriginCityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.paymentdetails.VendorPolicyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.paymentdetails.PaymentDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.payment.PaymentWebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.userroutes.ManageRouteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profile.raterewards.ShareRateGetRewardsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sharerate.ShareRateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.contractDetails.ContractDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name=".ui.contractDetails.PlacementsContractDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name=".ui.auth.AccountDeletionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.placementdetails.PlacementDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.fastag.FastagTransactionDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.fastag.FastagRechargeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.loadwallet.LoadWalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.loadwallet.TransactionDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.loadwallet.RechargeDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profile.PlacementsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.fastag.FastagRaiseDisputeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.fastag.FastagDisputeIssuesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.fastag.FastagTransactionSelectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.fastag.FastagDynamicDisputeFormActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.kyc.documentverification.DocumentVerificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.kyc.documentverification.DocumentVerificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.invoicereview.InvoiceReviewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.comingsoon.ComingSoonActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.comingsoon.ComingSoonActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>