<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dfd.delfin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <queries>
        <package android:name="com.dfd.delfin" />
    </queries>

    <queries>
        <!-- UPI payment apps -->
        <package android:name="com.google.android.apps.nbu.paisa.user" /> <!-- GPay -->
        <package android:name="com.phonepe.app" />                        <!-- PhonePe -->
        <package android:name="net.one97.paytm" />                        <!-- Paytm -->
        <package android:name="in.org.npci.upiapp" />                     <!-- BHIM -->
        <package android:name="com.amazon.mShop.android.shopping" />      <!-- Amazon Pay -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="upi" />
        </intent>
    </queries>

    <application
        android:name="com.dfd.delfin.KotlinApp"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/CustomSplashScreenTheme"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">
        <activity
            android:name="com.dfd.delfin.ui.fastag.tagMapping.TagMappingActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.dfd.delfin.ui.fastag.issuance.BuyFasTagActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.dfd.delfin.ui.fastag.issuance.SelectFasTagActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.dfd.delfin.ui.fastag.issuance.AddVehicleActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.dfd.delfin.ui.fastag.issuance.FastagKycActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.dfd.delfin.ui.fastag.issuance.PaymentMethodActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.dfd.delfin.ui.fastag.issuance.PaymentBreakupActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.dfd.delfin.ui.fastag.issuance.FastagCollectionActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.dfd.delfin.ui.serviceConfigListing.ServiceConfigurationListActivity"
            android:exported="false" />

        <service
            android:name="com.dfd.delfin.fcm.DelhiveryFCMService"
            android:exported="false"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.workmanager-init"
            android:exported="false"
            tools:node="remove"
            tools:replace="android:authorities" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="@bool/FIREBASE_ACTIVATED" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="@bool/FIREBASE_ACTIVATED" />
        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="@bool/FIREBASE_PERFORMANCE_LOG" />
        <meta-data
            android:name="firebase_performance_collection_enabled"
            android:value="@bool/FIREBASE_ACTIVATED" />

        <activity
            android:name="com.dfd.delfin.ui.home.activity.home.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.dfd.delfin.ui.splash.StartRoutingActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="axledelhivery.page.link"
                    android:scheme="http" />
                <data
                    android:host="axledelhivery.page.link"
                    android:scheme="https" />
                <data
                    android:host="dlvry.page.link"
                    android:scheme="https" />
                <data
                    android:host="dlvry.page.link"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dfd.delfin.ui.auth.AuthenticationActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.dfd.delfin.ui.selectroutewelcome.SelectRouteWelcomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfd.delfin.ui.selectroute.activity.SelectRouteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfd.delfin.ui.onboarding.OnboardingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfd.delfin.ui.biddetails.MarketPlaceBidDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfd.delfin.ui.searchload.SearchLoadActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="com.dfd.delfin.ui.bids.TripsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfd.delfin.ui.tripdetails.TripDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfd.delfin.ui.tripdetails.ImageViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfd.delfin.ui.home.activity.transactionlist.TransactionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfd.delfin.ui.home.activity.transactiondetail.TransactionDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfd.delfin.ui.home.activity.fuel.ActiveTripsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfd.delfin.ui.home.activity.bank.BankTransferActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfd.delfin.ui.home.activity.fuelcard.CreateFuelCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfd.delfin.ui.home.activity.wallet.WalletOnboardingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfd.delfin.ui.tripdetails.UploadImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfd.delfin.ui.home.activity.docket.DocketUpdateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfd.delfin.ui.searchtrip.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfd.delfin.ui.ledger.ConsolidatedPageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfd.delfin.ui.team.TeamMembersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfd.delfin.ui.userroutes.UserRoutesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfd.delfin.ui.searchongoingtrip.SearchOngoingTripActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfd.delfin.ui.trucks.TruckActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfd.delfin.ui.searchCity.SearchCity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfd.delfin.ui.auth.InvalidActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfd.delfin.ui.trucks.AddTruckPathwayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfd.delfin.ui.profile.HelpSupportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfd.delfin.ui.profile.profiledetails.ProfileDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfd.delfin.ui.profile.kycdetails.ProfileKYCDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfd.delfin.ui.profile.BankDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfd.delfin.ui.kyc.dashboard.KycDashboardActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.dfd.delfin.ui.kyc.pan.PanVerificationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.dfd.delfin.ui.kyc.gst.GstVerificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfd.delfin.ui.kyc.aadhaar.AadhaarVerificationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.dfd.delfin.ui.kyc.address.CommunicationAddressActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.dfd.delfin.ui.profile.MyProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfd.delfin.ui.accountrole.AccountRoleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfd.delfin.ui.accountdetails.AccountDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.dfd.delfin.ui.accountaction.AccountActionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfd.delfin.ui.kyc.address.AddressActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.dfd.delfin.ui.businessverification.BusinessVerificationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.dfd.delfin.ui.kyc.identityverification.IdentityVerificationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.dfd.delfin.ui.onboarding.BasicDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfd.delfin.ui.searchcitystate.SearchCityStateActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.dfd.delfin.ui.searchcitystate.SearchOriginCityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfd.delfin.ui.paymentdetails.VendorPolicyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfd.delfin.ui.paymentdetails.PaymentDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.dfd.delfin.ui.payment.PaymentWebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfd.delfin.ui.userroutes.ManageRouteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfd.delfin.ui.profile.raterewards.ShareRateGetRewardsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfd.delfin.ui.sharerate.ShareRateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfd.delfin.ui.contractDetails.ContractDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name="com.dfd.delfin.ui.contractDetails.PlacementsContractDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name="com.dfd.delfin.ui.auth.AccountDeletionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfd.delfin.ui.placementdetails.PlacementDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfd.delfin.ui.fastag.fastag_details.FastagTransactionDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfd.delfin.ui.fastag.recharge.FastagRechargeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.dfd.delfin.ui.fastag.trucks.FastagTrucksActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfd.delfin.ui.fastag.tagAssignment.pendingActions.PendingActionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfd.delfin.ui.fastag.tagAssignment.pendingActions.AssignVehicleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfd.delfin.ui.fastag.tagAssignment.assign.RCUploadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfd.delfin.ui.fastag.tagAssignment.assign.VehicleDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfd.delfin.ui.common.ImagePreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.dfd.delfin.ui.fastag.tagAssignment.assign.VehicleImageUploadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfd.delfin.ui.fastag.tagAssignment.assign.kyv.KYVFastagImageUploadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfd.delfin.ui.fastag.trucks.FastagSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name="com.dfd.delfin.ui.loadwallet.LoadWalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfd.delfin.ui.loadwallet.TransactionDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfd.delfin.ui.loadwallet.RechargeDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfd.delfin.ui.profile.PlacementsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfd.delfin.ui.fastag.qdr.FastagRaiseDisputeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfd.delfin.ui.fastag.qdr.FastagDisputeIssuesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfd.delfin.ui.fastag.qdr.FastagTransactionSelectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfd.delfin.ui.fastag.qdr.FastagDynamicDisputeFormActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.dfd.delfin.ui.kyc.documentverification.DocumentVerificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfd.delfin.ui.kyc.documentverification.DocumentVerificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfd.delfin.ui.invoicereview.InvoiceReviewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.dfd.delfin.ui.comingsoon.ComingSoonActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfd.delfin.ui.comingsoon.ComingSoonActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>